Web References/ABAServices/abaservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lyonsreg.com/WebService/ABAService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.lyonsreg.com/WebService/ABAService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lyonsreg.com/WebService/ABAService">
      <s:element name="ValidateABA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateABAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateABAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyABA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyABAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyABAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyWire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyWireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyWireResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksForEW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksForEWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksForEWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksPrimarySortXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksPrimarySortXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksPrimarySortXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksXML_W3C">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksXML_W3CResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksXML_W3CResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksWithWireXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksWithWireXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksWithWireXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksWithWireXML_W3C">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aba" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBanksWithWireXML_W3CResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBanksWithWireXML_W3CResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindASCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payeeCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindASCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindASCompanyIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wildcard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindCompanyIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCompanyIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logoff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoffResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequiredLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequiredLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequiredLogonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateABASoapIn">
    <wsdl:part name="parameters" element="tns:ValidateABA" />
  </wsdl:message>
  <wsdl:message name="ValidateABASoapOut">
    <wsdl:part name="parameters" element="tns:ValidateABAResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyABASoapIn">
    <wsdl:part name="parameters" element="tns:VerifyABA" />
  </wsdl:message>
  <wsdl:message name="VerifyABASoapOut">
    <wsdl:part name="parameters" element="tns:VerifyABAResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyWireSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyWire" />
  </wsdl:message>
  <wsdl:message name="VerifyWireSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyWireResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksForEW" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksForEWResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksXML" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksPrimarySortXML" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksPrimarySortXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksXML_W3C" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksXML_W3CResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksWithWireXML" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksWithWireXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CSoapIn">
    <wsdl:part name="parameters" element="tns:GetBanksWithWireXML_W3C" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CSoapOut">
    <wsdl:part name="parameters" element="tns:GetBanksWithWireXML_W3CResponse" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindASCompanyID" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindASCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindCompanyID" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyID" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyIDResponse" />
  </wsdl:message>
  <wsdl:message name="LogoffSoapIn">
    <wsdl:part name="parameters" element="tns:Logoff" />
  </wsdl:message>
  <wsdl:message name="LogoffSoapOut">
    <wsdl:part name="parameters" element="tns:LogoffResponse" />
  </wsdl:message>
  <wsdl:message name="LogonSoapIn">
    <wsdl:part name="parameters" element="tns:Logon" />
  </wsdl:message>
  <wsdl:message name="LogonSoapOut">
    <wsdl:part name="parameters" element="tns:LogonResponse" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonSoapIn">
    <wsdl:part name="parameters" element="tns:RequiredLogon" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonSoapOut">
    <wsdl:part name="parameters" element="tns:RequiredLogonResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateABAHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateABAHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyABAHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyABAHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyWireHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyWireHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDHttpGetIn">
    <wsdl:part name="serialNumber" type="s:string" />
    <wsdl:part name="payeeCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDHttpGetIn">
    <wsdl:part name="wildcard" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpGetOut" />
  <wsdl:message name="LogonHttpGetIn">
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ValidateABAHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateABAHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyABAHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyABAHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyWireHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyWireHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksForEWHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksPrimarySortXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksXML_W3CHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="aba" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBanksWithWireXML_W3CHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDHttpPostIn">
    <wsdl:part name="serialNumber" type="s:string" />
    <wsdl:part name="payeeCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindASCompanyIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDHttpPostIn">
    <wsdl:part name="wildcard" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindCompanyIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpPostOut" />
  <wsdl:message name="LogonHttpPostIn">
    <wsdl:part name="companyID" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequiredLogonHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="ABAServiceSoap">
    <wsdl:operation name="ValidateABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate ABA number against algorithm.</wsdl:documentation>
      <wsdl:input message="tns:ValidateABASoapIn" />
      <wsdl:output message="tns:ValidateABASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup ABA number on Lyons Server and return if found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyABASoapIn" />
      <wsdl:output message="tns:VerifyABASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup the ABA as a wire number with Lyons Servers and return true if it is found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyWireSoapIn" />
      <wsdl:output message="tns:VerifyWireSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks for an ABA for AVS</wsdl:documentation>
      <wsdl:input message="tns:GetBanksForEWSoapIn" />
      <wsdl:output message="tns:GetBanksForEWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXMLSoapIn" />
      <wsdl:output message="tns:GetBanksXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksPrimarySortXMLSoapIn" />
      <wsdl:output message="tns:GetBanksPrimarySortXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXML_W3CSoapIn" />
      <wsdl:output message="tns:GetBanksXML_W3CSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXMLSoapIn" />
      <wsdl:output message="tns:GetBanksWithWireXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXML_W3CSoapIn" />
      <wsdl:output message="tns:GetBanksWithWireXML_W3CSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find company identifier using AutoScribe serial number and payee code.</wsdl:documentation>
      <wsdl:input message="tns:FindASCompanyIDSoapIn" />
      <wsdl:output message="tns:FindASCompanyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID using wild card name search (%)</wsdl:documentation>
      <wsdl:input message="tns:FindCompanyIDSoapIn" />
      <wsdl:output message="tns:FindCompanyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID by an active token</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyIDSoapIn" />
      <wsdl:output message="tns:GetCompanyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log out user.</wsdl:documentation>
      <wsdl:input message="tns:LogoffSoapIn" />
      <wsdl:output message="tns:LogoffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <wsdl:input message="tns:LogonSoapIn" />
      <wsdl:output message="tns:LogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Has a session expired?</wsdl:documentation>
      <wsdl:input message="tns:RequiredLogonSoapIn" />
      <wsdl:output message="tns:RequiredLogonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ABAServiceHttpGet">
    <wsdl:operation name="ValidateABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate ABA number against algorithm.</wsdl:documentation>
      <wsdl:input message="tns:ValidateABAHttpGetIn" />
      <wsdl:output message="tns:ValidateABAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup ABA number on Lyons Server and return if found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyABAHttpGetIn" />
      <wsdl:output message="tns:VerifyABAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup the ABA as a wire number with Lyons Servers and return true if it is found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyWireHttpGetIn" />
      <wsdl:output message="tns:VerifyWireHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks for an ABA for AVS</wsdl:documentation>
      <wsdl:input message="tns:GetBanksForEWHttpGetIn" />
      <wsdl:output message="tns:GetBanksForEWHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXMLHttpGetIn" />
      <wsdl:output message="tns:GetBanksXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksPrimarySortXMLHttpGetIn" />
      <wsdl:output message="tns:GetBanksPrimarySortXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXML_W3CHttpGetIn" />
      <wsdl:output message="tns:GetBanksXML_W3CHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXMLHttpGetIn" />
      <wsdl:output message="tns:GetBanksWithWireXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXML_W3CHttpGetIn" />
      <wsdl:output message="tns:GetBanksWithWireXML_W3CHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find company identifier using AutoScribe serial number and payee code.</wsdl:documentation>
      <wsdl:input message="tns:FindASCompanyIDHttpGetIn" />
      <wsdl:output message="tns:FindASCompanyIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID using wild card name search (%)</wsdl:documentation>
      <wsdl:input message="tns:FindCompanyIDHttpGetIn" />
      <wsdl:output message="tns:FindCompanyIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID by an active token</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyIDHttpGetIn" />
      <wsdl:output message="tns:GetCompanyIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log out user.</wsdl:documentation>
      <wsdl:input message="tns:LogoffHttpGetIn" />
      <wsdl:output message="tns:LogoffHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <wsdl:input message="tns:LogonHttpGetIn" />
      <wsdl:output message="tns:LogonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Has a session expired?</wsdl:documentation>
      <wsdl:input message="tns:RequiredLogonHttpGetIn" />
      <wsdl:output message="tns:RequiredLogonHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ABAServiceHttpPost">
    <wsdl:operation name="ValidateABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate ABA number against algorithm.</wsdl:documentation>
      <wsdl:input message="tns:ValidateABAHttpPostIn" />
      <wsdl:output message="tns:ValidateABAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup ABA number on Lyons Server and return if found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyABAHttpPostIn" />
      <wsdl:output message="tns:VerifyABAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lookup the ABA as a wire number with Lyons Servers and return true if it is found.</wsdl:documentation>
      <wsdl:input message="tns:VerifyWireHttpPostIn" />
      <wsdl:output message="tns:VerifyWireHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks for an ABA for AVS</wsdl:documentation>
      <wsdl:input message="tns:GetBanksForEWHttpPostIn" />
      <wsdl:output message="tns:GetBanksForEWHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXMLHttpPostIn" />
      <wsdl:output message="tns:GetBanksXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA</wsdl:documentation>
      <wsdl:input message="tns:GetBanksPrimarySortXMLHttpPostIn" />
      <wsdl:output message="tns:GetBanksPrimarySortXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksXML_W3CHttpPostIn" />
      <wsdl:output message="tns:GetBanksXML_W3CHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXMLHttpPostIn" />
      <wsdl:output message="tns:GetBanksWithWireXMLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a list of banks (XML format) for an ABA and includes wires only banks.  This service utilizes XML CDATA sections for the XML returned string.</wsdl:documentation>
      <wsdl:input message="tns:GetBanksWithWireXML_W3CHttpPostIn" />
      <wsdl:output message="tns:GetBanksWithWireXML_W3CHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find company identifier using AutoScribe serial number and payee code.</wsdl:documentation>
      <wsdl:input message="tns:FindASCompanyIDHttpPostIn" />
      <wsdl:output message="tns:FindASCompanyIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID using wild card name search (%)</wsdl:documentation>
      <wsdl:input message="tns:FindCompanyIDHttpPostIn" />
      <wsdl:output message="tns:FindCompanyIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find my company ID by an active token</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyIDHttpPostIn" />
      <wsdl:output message="tns:GetCompanyIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log out user.</wsdl:documentation>
      <wsdl:input message="tns:LogoffHttpPostIn" />
      <wsdl:output message="tns:LogoffHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <wsdl:input message="tns:LogonHttpPostIn" />
      <wsdl:output message="tns:LogonHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Has a session expired?</wsdl:documentation>
      <wsdl:input message="tns:RequiredLogonHttpPostIn" />
      <wsdl:output message="tns:RequiredLogonHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ABAServiceSoap" type="tns:ABAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateABA">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/ValidateABA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/VerifyABA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/VerifyWire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksForEW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksPrimarySortXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksXML_W3C" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksWithWireXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksWithWireXML_W3C" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/FindASCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/FindCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/Logoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/Logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <soap:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/RequiredLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ABAServiceSoap12" type="tns:ABAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateABA">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/ValidateABA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/VerifyABA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/VerifyWire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksForEW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksPrimarySortXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksXML_W3C" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksWithWireXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetBanksWithWireXML_W3C" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/FindASCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/FindCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/GetCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/Logoff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/Logon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <soap12:operation soapAction="http://www.lyonsreg.com/WebService/ABAService/RequiredLogon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ABAServiceHttpGet" type="tns:ABAServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidateABA">
      <http:operation location="/ValidateABA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <http:operation location="/VerifyABA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <http:operation location="/VerifyWire" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <http:operation location="/GetBanksForEW" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <http:operation location="/GetBanksXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <http:operation location="/GetBanksPrimarySortXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <http:operation location="/GetBanksXML_W3C" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <http:operation location="/GetBanksWithWireXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <http:operation location="/GetBanksWithWireXML_W3C" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <http:operation location="/FindASCompanyID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <http:operation location="/FindCompanyID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <http:operation location="/GetCompanyID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <http:operation location="/Logoff" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <http:operation location="/Logon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <http:operation location="/RequiredLogon" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ABAServiceHttpPost" type="tns:ABAServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidateABA">
      <http:operation location="/ValidateABA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyABA">
      <http:operation location="/VerifyABA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyWire">
      <http:operation location="/VerifyWire" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksForEW">
      <http:operation location="/GetBanksForEW" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML">
      <http:operation location="/GetBanksXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksPrimarySortXML">
      <http:operation location="/GetBanksPrimarySortXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksXML_W3C">
      <http:operation location="/GetBanksXML_W3C" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML">
      <http:operation location="/GetBanksWithWireXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBanksWithWireXML_W3C">
      <http:operation location="/GetBanksWithWireXML_W3C" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindASCompanyID">
      <http:operation location="/FindASCompanyID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanyID">
      <http:operation location="/FindCompanyID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyID">
      <http:operation location="/GetCompanyID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <http:operation location="/Logoff" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <http:operation location="/Logon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequiredLogon">
      <http:operation location="/RequiredLogon" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ABAService">
    <wsdl:port name="ABAServiceSoap" binding="tns:ABAServiceSoap">
      <soap:address location="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ABAServiceSoap12" binding="tns:ABAServiceSoap12">
      <soap12:address location="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ABAServiceHttpGet" binding="tns:ABAServiceHttpGet">
      <http:address location="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ABAServiceHttpPost" binding="tns:ABAServiceHttpPost">
      <http:address location="http://www.lyonsreg.com/webservices/abaexpress/abaservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>